html(lang="en")
  head
    title Login 
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
  body.container
    h2 Login 
    p Please Login to proceed 
    form(method="POST").form-group
      label(for="username") Username 
      input(type="text" placeholder="Username" name="username" id="username").form-control
      label(for="pwd") Password 
      input(type="password" placeholder="Password" name="password")#pwd.form-control
      hr
      input(type="submit" value="Login").btn.btn-primary
    
    p Don't Have an Account?
    p Register 
      a(href="/auth/register") here


