html(lang="en")
  head
    title Register 
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
  body.container
    h2 Register 
    p Please Register to proceed 
    form(method="POST").form-group
      label(for="username") Username 
      input(type="text" placeholder="Username" name="username" id="username").form-control
      label(for="pwd") Password 
      input(type="password" placeholder="Password" name="password")#pwd.form-control
      hr
      input(type="submit" value="Register").btn.btn-primary
    
    p Already Registered?
    p back to 
      a(href="/auth/login") Login


      